.TodoItem{
    background-color: #D8FFB8;
    position: -ms-page;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    
}

.TodoItem-p{
    margin: 24px 0 24px 24px;
    width: calc(50% - 120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.TodoItem-p--complete {
    text-decoration: line-through;
}

